html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #251D3A;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.poster{
  position: relative;
  text-align: center;
  filter: brightness(60%);
}

.title {
  position: absolute;
  bottom: 38px;
  left: 16px;
}

.desc {
  position: absolute;
  bottom: 18px;
  left: 16px; 
}

.card-hover:hover {
  transform: scale(1.3);
  transition-timing-function: ease-in;
  transition: 0.4s;
}

.project-hover:hover {
  transform: scale(1.1);
  transition-timing-function: ease-in;
  transition: 0.4s;
}

.my-logo {
  width: 16px;
}
.avatar {
  width: 200px;
}

.my-bg-blue {
  background-color: #2A2550;
}

.my-text-blue {
  color: #2A2550 !important;
}

.my-bg-blue-darken {
  background-color: #251D3A;
}

.my-bg-orange-darken {
  background-color: #E04D01;
}

.my-bg-orange{
  background-color: #FF7700 !important;
}

.bg-orange{
  background-color: #FF7700 !important;
}

.my-text-orange{
  color: #FF7700 !important;
}

.text-orange{
  color: #FF7700 !important;
}

.my-bg-red {
  background-color: #FF8AAE;
}

.my-bg-yellow {
  background-color: #FFF89A;
}

.my-bg-pink {
  background-color: #FFB2A6;
}